body
{
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin:0;
    background: linear-gradient(rgba(245, 245, 245,0.9),rgba(245, 245, 245,0.9)),url('/pics/bg.jpg');
}
/*header*/
#header
{
    min-width: 100%;
    width:max-content; height:30pt;
    background:linear-gradient(green,darkgreen);
    top:0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 1000;
}
#header .btn
{
    padding-left: 5pt; padding-right: 5pt;
}
#header img
{
    height:90%;
}
#header_t
{
    margin-left: 5pt;
    min-width: max-content;
    cursor: pointer;
    margin-right: auto;
}

#search
{
    width:min-content;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-left: 5pt;
}
#search .btn
{
    height:20pt;
    background: rgb(34, 160, 34);
    font-size: 15pt;
    opacity:0;
}
#search .btn:hover
{
    background: rgba(37, 207, 37, 0.9);
}
#search input
{
    width:0pt; height:20pt;
    border: none; background: white;
    font-family: Arial;
}

#buttonPanel
{
    height:100%; width:min-content;
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
}
#buttonPanel .btn
{
    min-width:25pt;
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
}
#buttonPanel .btn img
{
    margin:auto;
    height:50%;
}
#shop_b:hover p
{
    display:block;
}
.btn:hover
{
    background: rgb(57, 206, 57);    
}
/*header*/
#main
{
    background: rgb(245, 245, 245);
    width:80%; min-height: calc(100% - 30pt);
    height: min-content;
    top:0;
    display:flex;
    justify-content: center;
}
/*for Shop*/
#shop_content
{
    width:90%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}
/*items*/
#items
{
    display:flex;
    flex-shrink: 0;

    flex-wrap: wrap;
    justify-content: center;
}
.itm
{
    width:150pt; min-height:200pt; height:min-content;
    margin:5pt;
    background: rgb(230, 230, 230);

    display: flex;
    flex-direction: column;
    align-items: center;
}
.itm p
{
    overflow-wrap: break-word;
}
.itm .header
{
    font-size: 15pt;
    background:linear-gradient(rgb(64, 184, 68),rgb(32, 160, 37));
    padding: 5pt;
    text-align: center;
    width:140pt;
}
.itm img
{
    height:75pt;
    align-self: center;
    margin:auto; margin-top: 15pt;
}
.itm .descript
{
    display:none;
    font-size: 10pt;
    
}
#tags
{
    display:flex;
    width:90%;
    bottom:5pt;
    flex-wrap: wrap;
}
#tags .tag
{
    font-family: Arial;
    color:white;
    background:rgb(20, 105, 20);
    font-size: 10pt;
    width:min-content;
    border-radius: 60px;
    padding:5pt;
    margin-right: 5pt;
    margin-bottom: 5pt;
    cursor: pointer;

    display:flex; justify-content: center; align-content: center;
}
.itm .btn
{
    background: rgb(0, 122, 0);
    height:30pt;
    width:100%;
    bottom:0;
    justify-content: center;
}
.itm .btn img
{
    height:60%;
    margin:0; margin-left: 5pt;
    user-select: none;
}
.itm .btn:hover
{
    background: rgb(0, 180, 0);
}
/*itm_out*/
.end .header
{
    background: rgb(75, 75, 75);
}
.end img
{
    opacity:0.6;
    filter: grayscale(100%);
}
/*pager*/
#shop_content #bottom
{
    width:100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}
#pager
{
    width:100pt;
    height:20pt;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
#pager p
{
    color:rgb(114, 114, 114);
    background: linear-gradient(rgb(219, 219, 219),rgb(199, 199, 199));
    width:100%;
    text-align: center;
}
#pager .btn
{
    color:rgb(4, 204, 4);
    padding-left: 5pt;
    padding-right: 5pt;
    width:15pt;
    display: flex; justify-content: center; align-items: center;
}
#pager .close
{
    color:gray;
}
#pager .close:hover
{
    background:none;
}
#pager .open:hover
{
    color:rgb(255, 255, 255);
    background: rgb(19, 221, 36)
}
/*interface_acc*/
.interface_acc
{
    position: absolute;
    top:30pt;
    right: 10pt;
    float:right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    display:none;
    opacity:0;
    
    transition: 1s;
}

.interface_acc #arrow {
    width: 0; 
    height: 0; 
    border-left: 20pt solid transparent;
    border-right: 0pt solid transparent;
    
    margin-right: 40pt;
    top:50pt;
    border-bottom: 20pt solid rgba(0, 127, 0, 0.9);
}

.interface_acc #interface_acc_main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    background:rgba(0, 127, 0, 0.9);
    width:300pt; height:min-content;
    padding:10pt;
}
.interface_acc #interface_acc_main input
{
    border-radius: 30pt;
    width:90%; height:20pt; font-size: 15pt; padding:5pt;
    border:none;
    margin:2pt;
}
.interface_acc #interface_acc_main .btn
{
    padding:5pt;
    margin-top: 8pt;
    background:rgb(13, 104, 13);
    border-radius: 30pt;
    width:80%;
    display:flex; justify-content: center; align-items: center;
}
.interface_acc #interface_acc_main .btn:hover
{
    background: rgb(21, 199, 21);
}

.interface_acc form
{
    width:100%;
    display: flex; justify-content: center; align-items: center;
    flex-direction: column;
}
/*interface cart*/
.interface_cart
{
    background:  rgba(13, 151, 13,0.9);
    width:200pt; height:0pt;
    position: absolute;

    top:30pt;
    right:0;
    transition: 1s;

    overflow: hidden;

    display:flex; flex-direction: column;
    align-items: center;
}
.interface_cart #cart_items
{
    width:100%;
    height:min-content;
}
.interface_cart .btn
{
    width:90%; height:30pt;

    margin-bottom: 5pt; margin-top: auto;
    
    background:darkgreen;
    
    display: flex; justify-content: center; align-items: center;
    flex-grow: 0; flex-shrink: 0;
}

.interface_cart .btn:hover
{
    background:rgb(0, 185, 0);
}
.interface_cart #splitter
{
    background: linear-gradient(rgb(10, 97, 10),rgb(38, 219, 38));
    height:5pt; width:100%; margin-top: 0;
}