body
{
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin:0;
    background: linear-gradient(rgba(245, 245, 245,0.9),rgba(245, 245, 245,0.9)),url('/pics/bg.jpg');
}
/*header*/
#header
{
    width:100%;height:30pt;
    background:green;
    top:0;

    display: flex;
    align-items: center;
    justify-content: center;
}
#header .btn
{
    padding-left: 5pt; padding-right: 5pt;
}
#header img
{
    height:90%;
}
#header_t
{
    margin-left: 5pt;
    cursor: pointer;
    margin-right: auto;
}

#search
{
    width:min-content;
    display: flex;
    flex-wrap: nowrap;
}
#search .btn
{
    height:20pt;
    background: rgb(34, 160, 34);
    font-size: 15pt;
}
#search .btn:hover
{
    background: rgb(37, 207, 37);
}
#search input
{
    width:300pt; height:20pt;
    border: none; background: white;
    font-family: Arial;
}

#buttonPanel
{
    height:100%; width:min-content;
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
}
#buttonPanel .btn
{
    min-width:25pt;
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
}
#buttonPanel .btn img
{
    margin:auto;
    height:50%;
}
#shop_b:hover p
{
    display:block;
}
.btn:hover
{
    background: rgb(57, 206, 57);    
}
/*header*/
#main
{
    background: rgb(245, 245, 245);
    width:80%; min-height: calc(100% - 30pt);
    top:0;
}
/*items*/
#items
{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.itm
{
    width:200pt; min-height:250pt;
    margin:5pt;
    background: rgb(230, 230, 230);

    display: flex;
    flex-direction: column;
    align-items: center;
}
.itm p
{
    overflow-wrap: break-word;
}
.itm .header
{
    font-size: 15pt;
    background:rgb(64, 184, 68);
    padding: 5pt;
    text-align: center;
    width:190pt;
}
.itm img
{
    height:90pt;
    align-self: center;
    margin:auto;
}
.itm .descript
{
    display:none;
    font-size: 10pt;
    
}
#tags
{
    display:flex;
    width:90%;
    bottom:5pt;
    flex-wrap: wrap;
}
#tags .tag
{
    font-family: Arial;
    color:white;
    background:rgb(20, 105, 20);
    font-size: 10pt;
    width:min-content;
    border-radius: 60px;
    padding:5pt;
    margin-right: 5pt;
    margin-bottom: 5pt;
    cursor: pointer;

    display:flex; justify-content: center; align-content: center;
}
.itm .btn
{
    background: rgb(0, 122, 0);
    height:30pt;
    width:100%;
    bottom:0;
    justify-content: center;
}
.itm .btn img
{
    height:60%;
    margin:0; margin-left: 5pt;
    user-select: none;
}
.itm .btn:hover
{
    background: rgb(0, 180, 0);
}
/*itm_out*/
.end .header
{
    background: rgb(75, 75, 75);
}
.end img
{
    opacity:0.6;
    filter: grayscale(100%);    
}